body {
    font-family: 'lato', sans-serif;
  }

  .chart{
    span{
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem;
    font-weight: 400;
    display: inline-block;
    width: 6rem;
    text-align: center;
    }
    .active{
      background: #098edb;
      color: white;
      font-weight: 600;
      border-radius: 1rem 2rem;
    }
  }
  .col{
    white-space: nowrap;
    text-align: center;
  }
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 1rem;
     h2{
       span{
        text-align: center;
        font-size: 1rem;
        vertical-align: 25%;
       }
     }
  }


  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);
    }
}

  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }

  .responsive-table {
    padding-left: 1%;

    li {
      border-radius: 3px;
      padding: 0.6rem 1rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #95A5A6;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      font-size: 0.7rem;
      font-weight: 700;


    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      font-size: 0.7rem;
      font-weight: 400;
    }
    .table-row-less {
      background-color: #f679799f;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }

    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{

      }
      li {
        display: block;
      }
      .col {

        flex-basis: 100%;

      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
