<section>

    <div class="row">

     <div class="col-md-7" >

        <div class="container">
            <h2> Employee Table
               <span *ngIf="tableData!=undefined && tableData!=null">(Total: {{tableData.length}})</span></h2>
            <ul class="responsive-table">
              <li class="table-header row">
                    <div style="width: 4rem;">S No.</div>
                    <div class="col col-1">Name</div>
                    <div class="col col-1">Start Time</div>
                    <div class="col col-1">End Time</div>
                    <div class="col col-1">Hours Worked</div>
                    <div class="col col-2">Entry Note</div>
              </li>

              <li *ngFor="let tab of tableData | paginate:{itemsPerPage:limit,currentPage: p,totalItems:table_length}; let i = index"
               class="table-row row" [ngClass]="[tab.time_worked_minutes < 100 ? 'table-row-less' : 'table-row' ]">


                <div style="width:4rem" data-label="row">{{ (p - 1) * limit + i +1 }}</div>
                <div class="col col-1" data-label="name">{{tab.EmployeeName}}</div>
                <div class="col col-1" [innerHTML]="tab.StarTimeUtc | date" data-label="start"></div>
                <div class="col col-1" [innerHTML]="tab.EndTimeUtc | date" data-label="end"></div>
                <div class="col col-1" data-label="time">{{tab.time_worked_hours | float2}}</div>
              <div class="col col-2" data-label="note">{{tab.EntryNotes}}</div>

              </li>

            </ul>

            <div *ngIf="tableData.length>0">
                <pagination-controls (pageChange)="getPage($event)" maxSize="10" directionLinks="true"
                    autoHide="true" responsive="true" previousLabel="Prev" nextLabel="Next"
                    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div style="display: block; margin-top:5rem;">
            <div class="model">
<div class="model-header chart" style="height: 3rem;">

  <span (click)="changegraph('c')" [ngClass]="[activechart=='c'? 'active':'']"> Current </span>
  <span (click)="changegraph('a')" [ngClass]="[activechart=='a'? 'active':'']"> All </span>
</div>


<div class="model-body" style="padding-top: 2rem;">

  <span *ngIf="activechart=='a' && tableData.length>50" style=" font-size: 0.8rem; padding-left: 2rem; color: red;">
     * Chart May not be visible due to a large amount of data.</span>
  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" chartType='pie'
  [options]="pieChartOptions" [plugins]="pieChartPlugins" ></canvas>
</div>
            </div>

          </div>
        </div>

    </div>
</section>
